.section {
    margin-bottom: 20px;
}

.one {
    height: 500px;
    width: 700px;
    background-color: #ff0000;
}

.two {
    height: 400px;
    width: 300px;
    margin-left: 20px;
    background-color: #00ff00;
}

.three {
    height: 100px;
    width: 70%;
    margin-top: 20px;
    background-color: #0000ff;
    margin-bottom: 10px;
}

.four {
    height: 100px;
    background-color: #ff00ff;
}

.input {
    padding: 3px 10px;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

.btn {
    background-color: silver;
    border: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3%;
    font-weight: bold;
}

.btn:active {
    outline: none;
    border: none;
}

.btn.add {
    background-color: #4d85ce;
    color: #ffffff;
}

.btn.remove {
    background-color: #d62828;   
    color: #ffffff;
}

.list {
    display: flex;
    list-style: none;
    max-width: 400px;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.list-item {
    position: relative;
    display:block;
    border: 1px solid silver;
    padding: 3px 10px;
}